.app {
    text-align: center;
    margin: 5% 20%;
    background-color: #f2aa4cff;
    color: black;
    height: auto;
    width: auto;
    padding-top: 2%;
    border-radius: 10px;
  }

  .imgStyle {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }
  